<script>
  export let user;
</script>

<a href={user.html_url}>
  <figure class="md:flex bg-gray-100 rounded-xl p-8 md:p-0">
    <img class="ml-0 w-32 h-32 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto" src={user.avatar_url} alt="" width="384" height="512">
    <div class="pt-6 md:p-8 text-center md space-y-4">
      <blockquote>
        <p class="text-lg font-semibold">
          {user.name} / {user.login}
      </blockquote>
      <!-- svelte-ignore a11y-structure -->
      <figcaption class="font-medium">
        <div class="text-cyan-600">
          {user.location}
        </div>
        <div class="text-gray-500" data-testid="user-login">
          {user.login}
        </div>
        <div>
          {user.blog}
        </div>
      </figcaption>
    </div>
  </figure>
</a>