<script>
import { Router, Route } from 'svelte-routing';

import Content from './components/Content'

import ListUser from './screens/ListUser'
</script>

<style global lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

	body {
		padding: 0px;
		margin: 0px;
	}
</style>

<main>
	<Router basepath="/github-svelte">
		<Content>
			<Route path="/" component={ListUser} />
		</Content>
	</Router>
</main>
