<script>
  import { onMount } from 'svelte';
  import { allUsers } from '../../services/github'
  import ListItem from './components/ListItem'
  import Loading from '../../components/Loading'

  let users = []
  let loading = true

  const getData = async () => {
    const _allUsers = await allUsers()
    loading = false
    users = _allUsers
  }

  onMount(() => {
    getData()
  })
</script>

{#if loading}
  <Loading text="Carregando..." />
{:else}
  <div class="grid grid-cols-3 gap-4">
  {#each users as user}
    <ListItem user={user} />
  {/each}
</div>
{/if}